<div class="landing-page-wrapper">
    <app-header></app-header>
    <div class="landing-page-content">
        <h1>Movies, TV shows, and more</h1>
        <h2>Watch whenever you want wherever you want</h2>
        <span>Enter your email to create or restart your subscription.</span>
        <form >
            <input class="ipt-txt" type="text" placeholder="Email Address">
            <button class="btn btn-primary" routerLink="/SignUp">
                <span>Sign Up</span>
                <img src="assets/icons/chevron_right.svg" alt="">
            </button>
        </form>
    </div>
    <app-footer></app-footer>
</div>
