.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 96px;
    height: 108px;
    >img{
        cursor: pointer;
    }

    @media (max-width: 750px) {
        padding: 10px 50px;
    }

    @media (max-width: 500px) {
        padding: 10px 20px;
    }
}