<div class="login-wrapper">
    <app-header [showLoginBtn]="false"></app-header>
    <div class="login-card">
        <h1>Log in</h1>
        <form (submit)="onSubmit(loginForm)" #loginForm="ngForm" autocomplete="off">
            <div class="form-field">
                <div class="wrapper-ipt-field">
                    <input class="ipt ipt-form-field-txt" type="email" placeholder="Email Address" [(ngModel)]="email" name="email" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                </div>
            </div>
            <div class="form-field">
                <div class="wrapper-ipt-field">
                    <input type="password" placeholder="Password" #iptPwd [(ngModel)]="password" name="password" required>
                    <div class="wrapper-show-pwd">
                        <input type="checkbox" name="" id="show-pwd" (change)="toggleShowPassword()">
                        <label for="show-pwd"></label>
                    </div>
                </div>
            </div>
            <div class="remember-me-wrapper">
                <input type="checkbox" name="" id="cb-remember-me" [(ngModel)]="rememberMe" name="rememberMe">
                <label for="cb-remember-me">Remember me</label>
            </div>
            @if (loginFailed) {
                <div class="signup-error-wrapper">
                    <img src="assets/icons/warning.svg" alt="">
                    <span>Wrong email or password, please try again</span>
                </div>
            }
            <button class="btn btn-primary" [disabled]="loginForm.invalid || waitForServerResponse">
                <span>Log in</span>
                @if (waitForServerResponse) {<div class="loader"></div>}
            </button>
        </form>

        <div class="card-footer">
            <button class="btn btn-link" routerLink="/ForgotPassword"> Forgot password? </button>
            <div class="wrapper-signup">
                <span>New to Videoflix?</span>
                <button class="btn btn-link" routerLink="/SignUp"> Sign Up now </button>
            </div>
        </div>
    </div>
    <app-footer [redirectPage]="'Login'"></app-footer>
</div>