<div class="reset-pwd-wrapper">
    <app-header></app-header>
    <div class="reset-pwd-card">
        <h1>Reset password</h1>
        <form (submit)="onSubmit(resetPwdForm)" #resetPwdForm="ngForm" autocomplete="off">
            <div class="form-field">
                <div class="wrapper-ipt-field">
                    <input type="password" placeholder="Password" #iptPwd [(ngModel)]="password" name="password" required>
                    <div class="wrapper-show-pwd">
                        <input type="checkbox" name="" id="show-pwd" (change)="toggleShowPassword()">
                        <label for="show-pwd"></label>
                    </div>
                </div>
            </div>
            <div class="form-field">
                <div class="wrapper-ipt-field">
                    <input type="password" placeholder="Confirm Password" #iptPwdConfirm [(ngModel)]="passwordConfirm" name="passwordConfirm" required>
                    <div class="wrapper-show-pwd">
                        <input type="checkbox" name="" id="show-pwd-con" (change)="toggleShowPasswordConfirm()">
                        <label for="show-pwd-con"></label>
                    </div>
                </div>
            </div>
            @if (!isPasswordMatching() && resetPwdForm.submitted) {
                <div class="reset-pwd-error-wrapper">
                    <img src="assets/icons/warning.svg" alt="">
                    <span>Password must match</span>
                </div>
            }
            <button class="btn btn-primary" [disabled]="resetPwdForm.invalid ">
                <span>Reset my password</span>
            </button>
        </form>
    </div>
    <app-footer [redirectPage]="'ResetPassword'"></app-footer>
</div>

