<div class="show-video-container" (click)="closeResolutionSelector()">
    <div class="show-video-header-wrapper">
        <button class="btn btn-icon" routerLink="/Dashboard"></button>
        <div class="video-resolution-selector">
            @if (resoultionSelector) {
                <button class="btn btn-primary" (click)="setVideoSrc()">original</button>
                <button class="btn btn-primary" (click)="setVideoSrc('480')">480p</button>
                <button class="btn btn-primary" (click)="setVideoSrc('720')">720p</button>
                <button class="btn btn-primary" (click)="setVideoSrc('1080')">1080p</button>
            } @else {
                <button class="btn btn-icon" (click)="showResoultionSelector($event)"></button>
            }
        </div>
        <img src="assets/img/logo_short.svg" alt="">
    </div>
    <app-videoplayer 
        [options]="{
            fluid: false,
            fill: true,
            autoplay: true, 
            controls: true}"
        [source]=" {src: videoSource, type: 'video/mp4' }">
    </app-videoplayer>
</div>
