$prim-color: #2E3EDF;
$prim-color-hover: #5460e4;
$prim-color-50: rgba(46, 62, 223, 0.5);

$bg-color-light: #FFFFFF;
$bg-color-dark: #141414;

$err-color:  #FF002E;
$succ-color: #34C759;

$fnt-color-light: #FFFFFF;
$fnt-color-dark: #141414;


$hover-time: 300ms;