@import './../../shared/styles/include.scss';

.privacypolicy-wrapper{
    padding: 0px 96px 45px 96px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $bg-color-dark;
    > .privacypolicy-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 108px;
    }

    @media (max-width: 750px) {
        padding: 10px 50px;
    }

    @media (max-width: 500px) {
        padding: 10px 20px;
    }
}

.privacypolicy-content{
    flex-grow: 2;
    margin-top: 60px;
    color: $fnt-color-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    > h1{
        font-size: 48px;	
    }
    > div{
        display: flex;
        flex-direction: column;
        gap: 16px;
        >h2{
            font-size: 32px;
        }
        >h3{
            font-size: 24px;
        }
        >h4{
            font-size: 18px;
        }
        a{
            word-wrap: break-word;
        }
    }
    @media (max-width: 750px) {
        > h1{
            font-size: 32px;	
        }
        > div{
            >h2{
                font-size: 24px;
            }
            >h3{
                font-size: 18px;
            }
            >h4{
                font-size: 14px;
            }
        }
    }

}