<div class="forgot-pwd-wrapper">
    <app-header></app-header>
    <div class="forgot-pwd-card">
        <h1>Forgot your password?</h1>
        <span>We will send you an email with instructions to reset your password.</span>
        <form (submit)="onSubmit(forgotPwdForm)" #forgotPwdForm="ngForm" autocomplete="off">
            <div class="form-field">
                <div class="wrapper-ipt-field">
                    <input class="ipt ipt-form-field-txt" type="text" placeholder="Email Address" ngModel name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                </div>
            </div>
            <button class="btn btn-primary" [disabled]="forgotPwdForm.invalid ">
                <span>Send Email</span>
            </button>
        </form>
    </div>
    <app-footer></app-footer>
</div>

