@import './../../shared/styles/include.scss';

.imprint-wrapper{
    padding: 45px 96px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $bg-color-dark;
    > .imprint-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

.imprint-content{
    flex-grow: 2;
    margin-top: 60px;
    color: $fnt-color-light;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    > h1{
        font-size: 48px;	
    }
    > div{
        display: flex;
        flex-direction: column;
        gap: 16px;
        >h2{
            font-size: 32px;
        }
    }
}