<div class="imprint-wrapper">
    <div class="imprint-header">
        <img class="hideResponsive" src="assets/img/logo.svg" alt="">
        <img class="showResponsive" src="assets/img/logo_short.svg" alt="">
        <button class="btn btn-icon" [routerLink]="redirectPage"></button>
    </div>
    <div class="imprint-content">
        <h1>Imprint</h1>
        <div>
            <h2>According to § 5 TMG</h2>
            <span>Leonard Weiß</span>
            <span>Laichlestraße 23</span>
            <span>70839 Gerlingen</span>
        </div>
        <div>
            <h2>Contact</h2>
            <span>phone: +49 173 514 0990</span>
            <span>e-Mail: leonard_weiss&#64;web.de</span>
        </div>
    </div>
</div>
