<div class="dashboard-wrapper">
    <div class="dashboard-header-wrapper">
        <img src="assets/img/logo_short.svg" alt="">
        <button class="btn btn-primary" (click)="logout()">
            <img src="assets/icons/logout.svg" alt="">
            <span >Log Out</span>
        </button>
    </div>
    <div class="dashboard-preview-wrapper">
        <app-videoplayer 
            [options]="{
                fluid: true,
                fill: false,
                autoplay: true, 
                controls: false,
                muted: true }"
            [source]="{ src: previewVideo().path, type: 'video/mp4' }">
        </app-videoplayer>
        <h1>{{previewVideo().name}}</h1>
        <span>{{previewVideo().description}}</span>
        <button class="btn btn-primary" routerLink="/Video/{{previewVideo().id}}">
            <img src="assets/icons/play_arrow.svg" alt="">
            <span>Play</span>
        </button>
        <div class="dashboard-filter-lg-preview"></div>
    </div>
    <div class="dashboard-video-offer-wrapper">
        @for (category of videoLibrary; track category) {
            <app-category [category]="category"></app-category>
        }
    </div>
</div>
